/* 
    Default tags first
*/
html,body {
    height: calc(100% - 120px + 60px);
}

html[theme="dark-mode"] {
    filter: invert(1) hue-rotate(180deg)
}

html[theme="dark-mode"] img{
    filter: invert(1) hue-rotate(180deg)
}

html {
    transition: color 500ms, background-color 500ms;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #eee;
    color: #333;
    padding-top: 120px;
    margin: 0;
}

a {
    color: #97008b;
}

a:visited {
    color: #97008b;
}

blockquote {
    border: none;
    border-left: #333;
    border-radius: 2px;
}

/*
    Now classes
*/

.nav {
    padding-right: 12px;
    padding-left: 12px;
    width: calc(100% - 24px);
    background-color: #333;
    color: #eee;
    height: 100px;
}

.nav a {
    color: #39ff14;
}

.nav a:visited {
    color: #39ff14;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
}

.formInput {
    height: 26px;
    font-size: 20px;
    outline: none;
}

.pageInfo {
    max-height: 60px;
    height: 60px;
    width: calc(100% - 24px);
    background-color:#333;
    color:#eee;
    text-align:left;
    padding: 12px;
}

.pageInfo a {
    color: #39ff14;
}

.pageInfo a:visited {
    color: #39ff14;
}

.space {
    color:#33333300;
}

.post {
    text-align: left;
    border: 2px solid #444;
    border-radius: 20px;
    margin: 0 auto;
    width: 35%;
    padding-left: 12px;
    padding-right: 12px;
}

.full-post {
    text-align: left;
    border: 2px solid #444;
    border-radius: 20px;
    margin: 0 auto;
    width: 65%;
    padding-left: 12px;
    padding-right: 12px;
    overflow-y: scroll;  
}

@media screen and (max-width: 760px) {
    .post {
        text-align: left;
        border: 2px solid #444;
        border-radius: 20px;
        margin: 0 auto;
        width: 65%;
        padding-left: 12px;
        padding-right: 12px;    
    }

    .full-post {
        overflow-y: scroll;
    }

    html,body {
        height: calc(100% - 120px + 100px);
    }
}

/* 
    Now IDs
*/

#main {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}